
#SceneRoot {
    -fx-alignment: center;
    -fx-background-image: url("/ui/background/galaxy.jpg");
    -fx-background-repeat: repeat;
}

/*#LoginAuthPanel {*/
    /*-fx-alignment: top-center;*/
    /*-fx-min-width: 300px;*/
    /*-fx-max-width: -fx-min-width;*/
    /*-fx-min-height: 150px;*/
    /*-fx-max-height: -fx-min-height;*/
    /*-fx-background-color: -fx-background-background;*/
    /*-fx-effect: -fx-material-shadow-panel;*/
    /*-fx-hgap: 2px;*/
    /*-fx-vgap: 2px;*/
    /*-fx-padding: 10px 5px 5px 5px;*/
/*}*/

/*#LoginAuthPanelMessageLabel {*/
    /*-fx-text-fill: red;*/
    /*-fx-wrap-text: true;*/
    /*-fx-min-height: 55px;*/
    /*-fx-max-height: -fx-min-height;*/
    /*-fx-font-family: "Ubuntu Condensed";*/
    /*-fx-font-size: 14px;*/
    /*-fx-text-alignment: center;*/
    /*-fx-alignment: center;*/
/*}*/

/* Sayo's css styles */

#LoginAuthPanel {
    -fx-alignment: center;
    -fx-min-width: 350px;
    -fx-min-height: 200px;
    -fx-max-width: -fx-min-width;
    -fx-max-height: -fx-min-height;
    -fx-background-color: -fx-background-background;
    -fx-effect: -fx-material-shadow-panel;
    -fx-hgap: 2px;
    -fx-vgap: 2px;
    -fx-padding: 5px 5px 5px 5px;
}

.loginAuthPanelLabel {
    -fx-alignment: center-right;
    -fx-min-width: 95px;
    -fx-min-height: 25px;
    -fx-max-width: -fx-min-width;
    -fx-max-height: -fx-min-height;
    -fx-font-family: "Ubuntu Condensed";
    -fx-text-fill: #cacbcf;
    -fx-font-size: 12px;
}

#LoginAuthPanelMessageLabel {
    -fx-min-width: 330px;
    -fx-min-height: 25px;
    /*-fx-max-width: -fx-min-width;*/
    -fx-max-height: -fx-min-height;
    -fx-wrap-text: true;
    -fx-text-fill: red;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 12px;
}

.loginAuthPanelField {
    -fx-min-width: 100px;
    -fx-min-height: 25px;
    /*-fx-max-width: -fx-min-width;*/
    -fx-max-height: -fx-min-height;
    -fx-border-color: #39393c;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1e2123;
    -fx-font-family: "Ubuntu Condensed";
    -fx-text-fill: #cacbcf;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.loginAuthPanelField:focused {
    -fx-background-color: #1e2123;
    -fx-border-color: #ff6a13, #39393c;
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 0, 1;
    -fx-border-style: solid inside, dotted outside;
    -fx-highlight-text-fill: #ff6a13;
    -fx-highlight-fill: #271b13;
}

.loginAuthPanelField:hover {
    -fx-border-color: #ff6a13;
    -fx-background-color: #271b13;
    -fx-text-fill: #cacbcf;
    -fx-highlight-text-fill: #ff6a13;
    -fx-highlight-fill: #271b13;
}

.button-size-1 {
    -fx-min-height: 25;
    /*-fx-min-width: 150;*/
    -fx-max-height: -fx-min-height;
    /*-fx-max-width: -fx-min-width;*/
    -fx-border-color: #39393c;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1e2123;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-font-family: "Ubuntu Condensed";
    -fx-text-fill: #cacbcf;
    -fx-font-size: 12px;
}

.button-size-1:hover {
    -fx-background-color: #271b13;
    -fx-border-color: #ff6a13;
    -fx-border-width: 1;
    -fx-text-fill: #ff6a13;
}

.button-size-1:focused {
    -fx-border-color: #ff6a13, #39393c;
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 0, 1;
    -fx-border-style: solid inside, dotted outside;
}

.button-size-1:focused:hover {
    -fx-border-color: #ff6a13;
    -fx-background-color: #271b13;
    -fx-text-fill: #ff6a13;
}

.button-size-1:focused:hover:armed {
    -fx-background-color: #ff6a13;
    -fx-text-fill: #cacbcf;
}

.labelButton {
    -fx-min-height: 25;
    /*-fx-min-width: 100px;*/
    -fx-max-height: -fx-min-height;
    /*-fx-max-width: -fx-min-width;*/
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-font-family: "Ubuntu Condensed";
    -fx-text-fill: #cacbcf;
    -fx-background-insets: 0;
}

.labelButton:hover {
    -fx-text-fill: #ff6a13;
    -fx-underline: true;
}

.labelButton:focused {
    -fx-text-fill: #ff6a13;
}

.labelButton:focused:hover {
    -fx-text-fill: #ff6a13;
}

.labelButton:focused:hover:armed {
    -fx-text-fill: #cacbcf;
}